{#<nav class="navbar navbar-expand-lg bg-light">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="{% url 'projects' %}">Shell</a>#}
{#            <a class="nav-link active" aria-current="page" href="{% url 'projects' %}">Projects</a>#}
{##}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"#}
{#                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>#}
{##}
{#            <a class="nav-link active me-3" aria-current="page" href="{% url 'to_do_app' %}">#}
{#                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"#}
{#                     class="bi bi-check2-circle" viewBox="0 0 15 16">#}
{#                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>#}
{#                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>#}
{#                </svg>#}
{#            </a>#}
{##}
{##}
{##}
{#            {% if request.user.is_authenticated %}#}
{#                <div class="btn-group">#}
{#                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"#}
{#                            aria-expanded="false">#}
{#                        My profile, {{ request.user.username }}#}
{#                    </button>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>#}
{#                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            {% else %}#}
{#                <a href="{% url 'login' %}" class="btn btn-outline-success me-2">Login</a>#}
{#                <a href="{% url 'sign-up' %}" class="btn btn-outline-secondary">Sign up</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</nav>#}



<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'projects' %}">Shell</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'projects' %}">Projects</a>
        </li>

      </ul>


          <a class="nav-link active me-3" aria-current="page" href="{% url 'to_do_app' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-check2-circle" viewBox="0 0 15 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>
            </a>

      {% if request.user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        My profile, {{ request.user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-success me-2">Login</a>
                <a href="{% url 'sign-up' %}" class="btn btn-outline-secondary">Sign up</a>
            {% endif %}
    </div>
  </div>
</nav>